extends layout

block content
  h1= title
  p Welcome to the selector pug
  div(class="container-fluid")
        div(class="row")
            -
                let shakes = [
                    {
                        "flavour": "oreo shake",
                        "size": "16 oz small",
                        "cost": "4.20 $"
                    },
                    {
                        "flavour": "chocolate shake",
                        "size": "24 oz medium",
                        "cost": "5.20 $"
                    },
                    {
                        "flavour": "mint chocolate shake",
                        "size": "32 oz",
                        "cost": "6.40 $"
                    },                   
                ]
            each v,index in monitor
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.flavour}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.size}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cost}
  script.                
    function buy(itemNo)
    {
        alert(`you purchased Item ${itemNo+1}`)
    }